/* Font Plus-jakarta-Sans */
@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('../fonts/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

/* Font Inter */

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}



* {
	transition: all .4s ease;
}

:root {
	--black_primary: #000;
	--black_font: #302506;

	--blue_primary: #000B33;
	--blue_secondary: #1C3E77;
	--blue_dark: #2D3552;
	--blue_light: #D2E6F6;
	--blue_navy: #11132E;
	--blue_hover: #434CB5;
	--blue_shadow: #5661DF;
	--blue_bg: #181E58;
	--blue_circle: #2F388E;
	--blue_font: #010F2E;
	--blue_font_V2: #183362;

	--grey_primary: #F5F7F9;
	--grey_secondary: #ECF3FD;
	--grey_dark: #4C4D5F;
	--grey_placeholder: #97A3B6;
	--grey_border: #DEE2E7;
	--grey_border_V1: #E4E7ED;
	--grey_border_V2: #D8E0EB;
	--grey_border_V3: #DDE1E7;
	--grey_border_V4: #D7DBEB;
	--grey-border_V5: #C8C9D3;
	--grey_border_V6: #9CAAC2;
	--grey_border_V7: #ECF0F8;
	--grey_shadow: #EEEEF4;
	--grey_bg: #F3F6FB;
	--grey_bg_V1: #ECF0F6;
	--grey_font: #A1A3AB;
	--grey_font_V1: #60667B;
	--grey_font_V2: #7A83A4;
	--grey_font_V3: #9A9DA9;
	--grey_font_V4: #49516D;
	--grey_font_V5: #A3B0CB;
	--grey_font_v6: #7280AC;
	--grey_label: #5D6185;
	--grey_toogle: #E5E8F2;
	--grey_nav: #8C8FA8;
	--grey_progress: #C2C8D6;
	--grey_seekbar: #E3E6ED;

	--red_primary: #F11922;
	--red_secondary: #ED1C24;
	--red_light: #FF6C6C;

	--yellow_primary: #FFBA00;

	--white_primary: #fff;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}

body {
	font-family: 'PlusJakartaSans';
	color: var(--blue_primary);
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: normal;
	background: #FFF;
}

a,
a:link,
a:visited {
	outline: none;
	text-decoration: none;
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

img {
	border: none;
	margin: 0px;
	max-width: 100%;
	width: 100%;
}


h1 {
	font-family: 'PlusJakartaSans';
	font-weight: 700;
	font-size: 75px;
	/* font-size: 3.906vw; */
	line-height: 107.5%;
	/* 80.625px */
	/* line-height: 4.199vw; */
	margin: 0px;
	padding: 0px;
}

h2 {
	font-family: 'PlusJakartaSans';
	font-weight: 700;
	font-size: 45px;
	line-height: normal;
	margin: 0px;
	padding: 0px;
}

h3 {
	font-family: 'PlusJakartaSans';
	font-weight: 800;
	font-size: 32px;
	line-height: 188.5%;
	/* 60.32px */
	margin: 0px;
	padding: 0px;
}

h4 {
	font-family: 'PlusJakartaSans';
	font-weight: 700;
	font-size: 22px;
	line-height: 138%;
	/* 30.36px */
	margin: 0px;
	padding: 0px;
}

h5 {
	font-family: 'PlusJakartaSans';
	font-weight: 400;
	font-size: 18px;
	line-height: 159.5%;
	/* 28.71px */
	margin: 0px;
	padding: 0px;
}

h6 {
	font-family: 'PlusJakartaSans';
	font-weight: 500;
	font-size: 15px;
	line-height: 179%;
	/* 26.85px */
	margin: 0px;
	padding: 0px;
}

form,
input,
select,
textarea,
p {
	font-family: 'PlusJakartaSans';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0px;
	padding: 0;
}

textarea {
	resize: none;
}

input:focus,
textarea:focus {
	outline: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
	display: block;
	margin: 0px;
	padding: 0;
}

.customClear {
	clear: both;
	font-size: 0em;
	line-height: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

/*IE below 9*/
#ieWrapper {
	background: #000;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ieHolder {
	position: relative;
	width: 555px;
	padding: 20px;
	margin: 200px auto 0 auto;
	background: #FFF;
	border: 7px solid #2b2927;
}

.btnIeUpdate {
	background: url(../images/btnIeUpdate.jpg) 0 0 no-repeat;
	width: 144px;
	height: 37px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.ieLogo {
	float: left;
	width: 134px;
	height: 139px;
	background: url(../images/ieLogo.jpg) no-repeat 0 0;
}

.ieContent {
	float: right;
	margin: 0;
	padding: 0;
	width: 350px;
	color: #666;
	font-size: 15px;
	line-height: 18px;
}

.ieContent strong {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #cccccc;
	display: block;
	font-size: 18px;
	color: #333;
	font-weight: normal;
}

/*End IE below 9*/


/**************************** Custom CSS ****************************/

/************** Common CSS starts here **************/
ul,
li {
	font-family: 'PlusJakartaSans';
	font-style: normal;
	line-height: normal;
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	font-family: 'PlusJakartaSans';
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}

input,
select,
textarea {
	border: 0;
	outline: 0;
}

button {
	border: 0;
	outline: 0;
	cursor: pointer;
}

.mt_0 {
	margin-top: 0 !important;
}

.mb_0 {
	margin-bottom: 0 !important;
}

.flex_1 {
	flex-grow: 1;
}

.bgLtBlue {
	background-color: #E1F5FE !important;
}

.bgLtYellow {
	background-color: #FFF1E1 !important;
}

.bgLtViolet {
	background-color: #F7E6FE !important;
}

.bgLtRed {
	background-color: #FEE6E6 !important;
}

.width_426 {
	width: 426px;
}

.width_270 {
	width: 270px;
}

.pgWrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.pgHdCntWRap {
	flex-grow: 1;
}

.pgCenter {
	width: 100%;
	/* max-width: 1305px; */
	/* max-width: 1345px; */
	max-width: 1565px;
	margin: auto;
	/* padding: 0 20px; */
	padding: 0 110px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.inpLblWrap {
	padding-bottom: 5px;
}

.inpLblGp {
	/* margin-bottom: 29px; */
	margin-bottom: 18px;
}

.gplbl {
	color: var(--grey_label);
	/* font-size: 20px; */
	font-size: 15px;
	/* margin-bottom: 15px; */
	margin-bottom: 10px;
}

.gpInp {
	/* padding: 25px 22px 22px; */
	padding: 12px 10px 10px;
	border-radius: 15px;
	border: 2px solid var(--grey_border_V4);
	background-color: var(--white_primary);
}

.inpIconWrap {
	display: flex;
	align-items: center;
}

.inpIcon {
	display: flex;
	/* margin-right: 18px; */
	margin-right: 10px;
}

.inpIcon img {
	flex-shrink: 0;
	/* width: 33px; */
	width: 24px;
}

.inpWrap {
	flex-grow: 1;
}

.inpWrap input {
	color: var(--blue_primary);
	width: 100%;
	/* font-size: 20px; */
	font-size: 15px;
}

.inpWrap input::placeholder,
.inpWrap input:-ms-input-placeholder,
.inpWrap input::-ms-input-placeholder {
	color: var(--grey_placeholder);
	opacity: 1;
}

.darkBlueBtn {
	border-radius: 15px;
	background-color: var(--blue_secondary);
	width: 100%;
	/* padding: 20px 0 24px; */
	padding: 12px 0 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white_primary);
	/* font-size: 30px; */
	font-size: 19px;
	font-weight: 600;
	width: 100%;
	font-family: 'PlusJakartaSans';
}

/* --DashBoard----------------------------- */


.outer-wrapper {
	display: flex;
	position: relative;
	background: #F2F1F9;
	column-gap: 32px;
}

.left-container {
	max-width: 263px;
	width: 100%;
	min-height: 100vh;
	background: #FFF;
	padding: 23px 35px 23px 23px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	box-sizing: border-box;
	transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.left-menu-section {
	display: flex;
	flex-direction: column;
}

.left-menu ul {
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: normal;
	padding: 30px 0px 30px;
	transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.left-menu ul li {
	margin-bottom: 15px;
}

.left-menu ul li a .menu-icon {
	margin-right: 25px;
}

.left-menu ul li a:hover .menu-icon img,
.left-menu ul li a.active .menu-icon img {
	filter: brightness(0) invert(1);
}

.left-menu ul li a .menu-icon img {
	max-width: 23px;

}

.menu-txt {
	color: #8C8FA8;
	font-feature-settings: 'calt' off;
	font-family: 'PlusJakartaSans';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 50px;
	/* 312.5% */
	letter-spacing: -0.16px;
}

.left-menu ul li a {
	height: 48px;
	background-color: transparent;
	display: flex;
	align-items: center;
	border-radius: 8px;
	color: #fff;
	transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	cursor: pointer;
	padding: 0 20px 0 20px;
}

.left-menu ul li a.active,
.left-menu ul li a:hover {
	color: #fff;
	background: #2654A0;
}

.left-menu ul li a.active .menu-txt,
.left-menu ul li a:hover .menu-txt {
	color: #fff;
}

.right-container {
	flex-grow: 1;
	position: relative;
	width: calc(100% - 263px);
	padding-bottom: 87px;
}

.topmenu-wrapper {
	border-radius: 8px;
	background: #FFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 23px 12px 23px;
	column-gap: 34px;
	margin: 34px 23px 0px 0;
}

.search-area {
	width: 100%;
}

.optSrchWrap {
	display: flex;
	column-gap: 14px;
	align-items: center;
}

.optSrchIcon {
	margin-top: 7px;
}

.optSrchIcon img {
	width: 20px;
	height: 20px;
}

.optSrchInp {
	width: 50%;
}

.optSrchInp input {
	width: 100%;
	color: #60667B;
	font-family: 'PlusJakartaSans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 260%;
	/* 41.6px */
	border-radius: 8px;
	padding: 0 12px;
}

.top-nav-buttons {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.optSrchInp input::placeholder {
	font-size: 16px;
}

.content-outer-wrapper {
	padding: 20px 12px 0 0;
}

.whiteroundbox {
	padding: 27px 49px 37px 37px;
	border-radius: 12px;
	background: #FFF;
}

.brdCrmbWrap {
	display: flex;
	align-items: center;
}

.brdCrmbItm {
	display: flex;
	align-items: center;
}

.brdCrmbTxt {
	color: var(--grey_font_V2);
	font-size: 16px;
	font-weight: 300;
	line-height: 188.5%;
	/* 30.16px */
	cursor: pointer;
}

.brdCrmbItm:last-child .brdCrmbTxt {
	cursor: initial;
}

.brdCrmbArw {
	display: flex;
	margin: 0 7px;
}

.brdCrmbArw img {
	flex-shrink: 0;
	max-width: 6px;
}

.brdCrmbItm:last-child .brdCrmbArw {
	display: none;
}

.whiteroundbox .brdCrmbWrap {
	padding-bottom: 15px;
}

.whiteroundbox .brdCrmbTxt {
	color: #7A83A4;
	font-family: 'Inter';
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 188.5%;
	/* 26.39px */
}

.whiteroundbox .brdCrmbItm.active .brdCrmbTxt {
	color: #000B33;
}

.title {
	color: #000B33;
	font-family: 'PlusJakartaSans';
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 188.5%;
	/* 52.78px */
}

.content-title-search-wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 57px;
}

.content-search-wrap {
	display: flex;
	align-items: center;
	column-gap: 10px;
	max-width: 900px;
	width: 100%;
}

.content-search-wrap form {
	flex-grow: 1;
}

.content-filter-search {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.contract-expiry-date {
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: 100%;
}

.content-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	border: 1px solid #D6D4EC;
	background: #FFF;
	max-width: 384px;
	width: 100%;
}

.content-search .optSrchInp {
	max-width: 384px;
	width: 100%;
}

.content-search-wrap label {
	color: #000;
	font-family: 'PlusJakartaSans';
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	/* 160% */
	letter-spacing: -0.15px;
}

.content-search-wrap select {
	border-radius: 8px;
	border: 1px solid #C5C7D3;
	background: url(../images/ic_AngleDw_md.svg) 91% no-repeat, #FFF;
	appearance: none;
	padding: 0 15px;
	height: 44px;
	max-width: 166px;
	width: 100%;
	display: flex;
	color: #6D779C;
	font-family: 'PlusJakartaSans';
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	/* 160% */
	letter-spacing: -0.15px;
}

.contract-date-wrap input[type="date"]::-webkit-inner-spin-button,
.contract-date-wrap input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.contract-date-wrap {
	display: flex;
	border-radius: 8px;
	border: 1px solid #C5C7D3;
	background: #FFF;
	max-width: 185px;
	width: 100%;
	padding: 0 0 0 12px;
	height: 44px;
	align-items: center;
}

.contract-date-wrap input[type="date"]::before {
	color: #6D779C;
	font-family: 'PlusJakartaSans';
	content: attr(placeholder);
	font-size: 15px;
}

.contract-date-wrap input[type="date"]:valid {
	color: #fff;
	font-family: 'PlusJakartaSans';
}

.contract-date-wrap input::placeholder {
	color: #ddd !important;
}

.date_iconWrap {
	padding: 0 10px;
	border-radius: 0px 8px 8px 0px;
	border: 1px solid #CFD3E5;
	background: #F7F7F9;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 0;
	cursor: pointer;
}

.content-search .optSrchIcon {
	padding: 0 12px;
}

.blue-btn {
	border-radius: 8px;
	background: #2654A0;
	/* max-width: 115px;
	width: 100%; */
	padding: 0 12px;
	height: 44px;
	text-align: center;
	color: #FFF;
	font-family: 'PlusJakartaSans';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	/* 150% */
	letter-spacing: -0.16px;
	margin-left: 9px;
}

.buttonWrap .blue-btn:first-child {
	margin-left: 9px;
}

.bottom-menu-wrapper {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 12px 30px 0;
	width: 100%;
	color: #60667B;
	font-family: 'PlusJakartaSans';
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 179%;
	/* 25.06px */
}

.bottom-menu-list ul {
	display: flex;
	column-gap: 20px;
}

.createBtn {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.createBtn img {
	width: 10px;
	height: 10px;
}

/* ------------pagination---------------- */
.pgnWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.countPageItemswrap {
	max-width: max-content;
	width: 100%;
}

.showCount span {
	color: #2A3547;
	font-family: 'PlusJakartaSans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 188.5%;
	/* 26.39px */
}

.showCount select {
	padding: 0 10px;
	border: 1px solid #ddd;
	height: 35px;
	border-radius: 8px;
	appearance: none;
	background: url(../images/selectDwIcon.png) 92% no-repeat;
	width: 63px;
	background-size: 12px;
	margin: 0 22px;
}

.pgnAct {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.pgnActIcon {
	display: flex;
}

.pgnActIcon img {
	flex-shrink: 0;
	max-width: 9px;
}

.pgnNumWrap {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.pgnNum {
	width: 33px;
	height: 33px;
	/* border-radius: 50%; */
	border-radius: 8px;
	color: #000;
	font-family: 'PlusJakartaSans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 188.5%;
	/* 26.39px */
	margin: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.pgnNum.active,
.pgnNum:hover {
	border-radius: 8px;
	border: 1px solid #2654A0;
	background: #FFF;
}

.pgnAdmin {
	padding-top: 28px;
}

.buttonWrap {
	display: flex;
}


@media screen and (min-width: 1920px) {
	h1 {
		font-size: 75px;
		line-height: 107.5%;
		/* 80.625px */
	}
}

@media screen and (max-width: 1600px) {
	h1 {
		/* font-size: 3.906vw; */
		font-size: 4.688vw;
		/* line-height: 4.199vw; */
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 28px;
	}
}

@media screen and (max-width: 1450px) {
	h1 {
		font-size: 55px;
	}

	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
		font-size: 14px;
	}

	/* ----common adminlayout------------------- */
	.outer-wrapper {
		column-gap: 26px;
	}

	.left-container {
		max-width: 219px;
		padding: 23px 23px 23px 23px;
	}

	.left-menu ul li {
		margin-bottom: 15px;
	}

	.left-menu ul li a {
		height: 44px;
	}

	.left-menu ul li a .menu-icon {
		margin-right: 16px;
	}

	.menu-txt {
		font-size: 15px;
	}

	.content-outer-wrapper {
		padding: 20px 12px 0 0;
	}

	.whiteroundbox {
		padding: 27px 27px 37px 27px;
	}

	.content-title-search-wrap {
		flex-direction: column;
	}

}

@media screen and (max-width: 1175px) {
	.content-title-search-wrap .title {
		padding-bottom: 20px;
	}

	.content-search-wrap {
		flex-direction: column;
		align-items: flex-start;
	}

	.content-search-wrap label {
		padding-bottom: 10px;
	}

	.content-search .optSrchInp {
		max-width: 354px;
	}

	.contract-date-wrap {
		max-width: 185px;
	}

	.buttonWrap {
		padding-top: 20px;
	}
}

/* ----common adminlayout-End------------------ */
@media screen and (max-width: 1200px) {
	h1 {
		font-size: 45px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 14px;
	}
}

@media screen and (max-width: 990px) {
	.pgCenter {
		padding: 0 40px;
	}
}

@media screen and (max-width: 768px) {
	.pgCenter {
		padding: 0 20px;
	}
}