
/************ Read Book and Audio Book Pages CSS ************/
.rdBkCnt {
	padding-top: 57px;
}

.rdBkCntWrap {
	padding-bottom: 40px;
}

.rdBkCntIn {
	display: flex;
}

.bkCntLt {
	flex-grow: 1;
	padding-right: 52px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bkCntRt {
	flex-shrink: 0;
	width: 483px;
}

.bkSumWrap {
	display: flex;
}

.bkImgSubWrap {
	flex-shrink: 0;
	width: 303px;
}

.bkSumImg {
	flex-shrink: 0;
	width: 303px;
	/* height: 443px; */
	height: 371px;
	background-color: var(--grey_primary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* border-radius: 34px; */
	border-radius: 25px;	
}

.bkSubWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 36px;
	margin-top: 17px;
	border-radius: 15px;
	background-color: var(--yellow_primary);
}

.bkSubIcon {
	display: flex;
	margin-right: 10px;
}

.bkSubIcon img {
	flex-shrink: 0;
	max-width: 32px;
}

.bkSubTxt {
	color: var(--black_font);
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 120%; /* 24px */
	letter-spacing: -0.4px;
}

.bkSumTxtWrap {
	flex-grow: 1;
	margin-left: 49px;
}

/* .bkSumTxtWrap .brdCrmbWrap {
	margin-bottom: 22px;
} */

.brdCrmbSclWrap {
	margin-bottom: 4px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.bkSclWrap {
	margin-left: 20px;
}

.bkSclLst {
	display: flex;
	align-items: center;
}

.bkSclItm {
	margin-right: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: var(--grey_bg_V1);
	cursor: pointer;
}

.bkSclItm:last-child {
	margin-right: 0;
}

.bkSclIcon {
	display: flex;
}

.bkSclIcon img {
	width: auto;
	height: 23px;
}

.rdBkTtle {
	line-height: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.bkAthr {
	color: var(--grey_font);
	font-size: 16px;
	line-height: 100%; /* 16px */
}

.bkDtlWrap {
	/* padding-top: 33px; */
	padding-top: 45px;
	display: flex;
	column-gap: 110px;
}

.bkDtlRow {
	display: flex;
	margin-bottom: 17px;
}

.bkDtlRow:last-child {
	margin-bottom: 0;
}

.bkDtlTtle {
	flex-shrink: 0;
	width: 133px;
	margin-right: 54px;
	color: var(--blue_primary);
	font-size: 16px;
	font-weight: 500;
	/* line-height: 200.5%; /* 32.08px */
	line-height: 100%;
}

.bkDtlDesc {
	flex-grow: 1;
	color: var(--blue_primary);
	font-size: 16px;
	font-weight: 300;
	/* line-height: 200.5%; /* 32.08px */
	line-height: 100%;
}

.bkDescWrap {
	padding-top: 40px;
}

.bkDescTtle {
	font-size: 20px;
	font-weight: 600;
	line-height: 200.5%; /* 40.1px */
}

.bkDescDesc {
	color: var(--blue_primary);
	font-size: 16px;
	line-height: 180.5%; /* 28.88px */
}

.mreTxt {
	font-weight: 600;
	margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #1C3E77;
    color: #1C3E77;
    font-family: 'PlusJakartaSans';
    font-size: 13px;
    font-style: normal;
    display: inline-flex;
    font-weight: 400;
    line-height: 138%;
    padding: 3px 22px;
    max-width: 54px;
    width: 100%;
    justify-content: center;
}

.curWrap {
	padding-top: 50px;
}

.curTtleBtnWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.curTtle {
	font-size: 24px;
	font-weight: 700;
	line-height: 180.5%; /* 43.32px */
}

.curBtn {
	padding: 7px 22px;
	border-radius: 50px;
	border: 1px solid var(--blue_secondary);
	margin-left: 20px;
	color: var(--blue_secondary);
	font-size: 20px;
	line-height: 138%; /* 27.6px */
	cursor: pointer;
}

.curBkWrap {
	padding-top: 35px;
}

.curBkLst {
	column-gap: 25px;
}

.curBkItm {
	width: 33.33%;
	max-width: 240px;
}

.curBkItm_Col5 {
	width: 20%;
}

.curBkImg {
	border-radius: 20px;
	margin-bottom: 28px;
	width: 100%;
	min-width: 240px;
	height: 220px;
	background-color: var(--grey_primary);
	overflow: hidden;
}

.rdPrgsWrap {
	padding-top: 24px;
}

.rdPrgsWrap .prgsBar {
	max-width: 184.918px;
	margin-right: 7px;
}



.bkCntRtBox {
	/* border-radius: 25px; */
	border-radius: 35px;
	background-color: var(--white_primary);
	/* box-shadow: 0px 4px 40px 20px rgba(231, 231, 240, 0.50); */
	border: 1px solid var(--grey_border_V6);
	/* padding: 65px 88px 90px; */
	padding: 65px 63px 70px;
	position: relative;
}

.bkCntRtBox_V1 {
	padding-bottom: 81px;
}

.bkBoxActWrap {
	position: absolute;
	top: 67px;
	right: 29px;
}

.boxActLst {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.boxActItm {
	display: flex;
	margin-bottom: 25px;
	cursor: pointer;
}

.boxActItm:last-child {
	margin-bottom: 0;
}

.boxActItm img {
	max-width: 28px;
}

.bkBoxImg {
	display: flex;
	/* width: 307px;
	height: 324px; */
	width: 222px;
	height: 268px;
	border-radius: 25px;
	background-color: var(--grey_primary);
	overflow: hidden;
	margin: auto;
	/* margin-bottom: 20px; */
	margin-bottom: 26px;
}

.bkBoxImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.bkBoxTtle {
	color: var(--blue_primary);
	font-size: 28px;
	font-weight: 700;
	line-height: 237%; /* 66.36px */
	text-align: center;
}

.bkBoxAthr {
	color: var(--grey_font);
	font-size: 16px;
	line-height: 100%; /* 16px */
	text-align: center;
}

.bkBoxDescWrap {
	/* padding-top: 45px; */
	padding-top: 27px;
	/* margin-bottom: 39px; */
	margin-bottom: 25px;
}

.bkBoxDesc {
	color: var(--grey_font_V4);
	font-size: 16px;
	line-height: 180.5%; /* 28.88px */
	position: relative;
	text-align: center;
}

/* .bkBoxDesc::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 172px;
	background: linear-gradient(180deg, #FFF 18.23%, rgba(255, 255, 255, 0.02) 99.99%, rgba(217, 217, 217, 0.00) 100%);
	transform: rotate(180deg);
} */

.bkBoxBtnWrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bkBoxBtn {
	display: flex;
	/* padding: 14px 50px; */
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	font-size: 20px;
	font-weight: 500;
	/* line-height: 180.5%; /* 36.1px */
	border: 1px solid var(--blue_secondary);
	cursor: pointer;
}

.boxBtnRd {
	background-color: var(--blue_secondary);
	color: var(--white_primary);
	padding: 14px 50px;
}

.boxBtnFd {
	margin-left: 11px;
}

.boxBtnFdIn {
	background-color: var(--white_primary);
	color: var(--blue_secondary);
	padding: 14px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

.boxBtnTck {
	display: flex;
	margin-right: 10px;
}

.boxBtnTck img {
	flex-shrink: 0;
	max-width: 22px;
}

.boxBtnTxt {
	font-size: 17px;
	font-weight: 500;
	/* line-height: 180.5%; /* 30.685px */
}

.boxBtnArw {
	display: flex;
	margin-left: 10px;
	transition: all .3s ease;
}

.boxBtnArw img {
	flex-shrink: 0;
	max-width: 17px;
}

.boxBtnFdWrap.active .boxBtnArw {
	transform: rotate(-180deg);
}

.plyrWrap {
	/* padding-top: 37px; */
	padding-top: 80px;
}

.plyrSkBar .prgsBar {
	border-radius: 50px;
	background-color: var(--grey_seekbar);
	height: 3px;
	cursor: pointer;
}

.plyrSkBar .prgsLine {
	border-radius: 50px;
	background-color: var(--blue_secondary);
}

.plyrSkBar .prgsLine::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: var(--blue_secondary);
	cursor: pointer;
}

.plyrTmWrap {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.plyrTm {
	font-size: 13px;
	font-weight: 300;
	line-height: 180.5%; /* 23.465px */
}

.plyrTmElps {
	color: var(--grey_font);
}

.plyrTmTotl {
	color: var(--blue_primary);
	margin-left: 20px;
}

.plyrCtlWrap {
	padding-top: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.plyrCtlTm {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.plyrCtlTmIcon {
	display: flex;
	cursor: pointer;
}

.plyrCtlTmIcon img {
	flex-shrink: 0;
	max-width: 28px;
}

.plyrCtlTmPrv .plyrCtlTmIcon {
	margin-right: 20px;
}

.plyrCtlTmNxt .plyrCtlTmIcon {
	margin-left: 20px;
}

.plyrCtlTmTxt {
	color: var(--black_primary);
	font-size: 15px;
	font-weight: 300;
	line-height: 180.5%; /* 27.075px */
}

.plyrPlay {
	display: flex;
	margin: 0 33px;
	cursor: pointer;
}

.boxBtnPly {
	padding: 14px 40px;
}

.plyrPlay img {
	flex-shrink: 0;
	max-width: 56px;
}

.plyBtnIcon {
	display: flex;
	margin-right: 10px;
}


.expBkImg {
	border-radius: 15px;
	margin-bottom: 14px;
	width: 100%;
	min-width: 215px;
	height: 320px;
	background-color: var(--grey_primary);
	overflow: hidden;
}

.expBkTtle {
	margin-top: 14px;
	margin-bottom: 5px;
	font-size: 21px;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 185px;
}

.expWshLst {
	top: 13px;
	right: 13px;
}

.expPgnWrap {
	padding-top: 87px;
}

.curBkTtle {
	max-width: 100%;
}

/* ----------Updated CSS----------- */
.readBkPdf {
	display: flex;
	column-gap: 16px;
	align-items: center;
	padding-top: 27px;
	color: #000B33;
	font-family: 'PlusJakartaSans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 200.5%; /* 32.08px */
}
.readPdfIcon {
	width: 51px;
	height: 51px;
	border-radius: 30px;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.readPdfIcon img {
	width: 28px;
	height: 28px;
}
.readNwstatusBtnWrap {
	display: flex;
	column-gap: 10px;
	padding-top: 50px;
}
.readNwBtn {
	display: flex;
	width: 204px;
	height: 55px;
	padding: 15px 50px;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background: #1C3E77;
	color: #FFF;
	font-family: 'PlusJakartaSans';
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 180.5%; /* 32.49px */
}
.readStatusBtn {
	border-radius: 12px;
	border: 1px solid #1C3E77;
	width: 204px;
	height: 55px;
	padding: 15px 25px 15px 15px;
	appearance: none;
	background: url(../images/ic_AngleDw_md.svg) no-repeat 85%;
	color: #1C3E77;
	font-family: 'PlusJakartaSans';
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	position: relative;
}
/* .readStatusBtn.finished::before {
	content: "";
	background: url(../images/BlueBgChecked.svg) no-repeat 5%;
	position: absolute;
	top: 0;
	left: 0;
} */
.acdCnt {
	padding-top: 36px;
}
.acdCnt table {
	width: 100%;
}
.acdCnt table th {
	padding-bottom: 25px;
}
.acdCnt table th.pageTitle {
	text-align: left;
}
.acdCnt table th.pageNo {
	text-align: right;
}
.acdCnt table td.pageTitleContent {
	text-align: left;
	padding-bottom: 20px;
	color: #000B33;
	font-family: 'PlusJakartaSans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 261%; /* 41.76px */
}
.acdCnt table td.pageNoContent {
	text-align: right;
	padding-bottom: 20px;
	color: #000B33;
	font-family: 'PlusJakartaSans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 261%; /* 41.76px */
}
.acdCnt table td ol {
	padding: 0 13px;
	margin: 0;
}
.acdCnt table td ol li ol {
	list-style: lower-alpha;
}
.acdCnt table td ol li {
	list-style: unset;
}
.desktopHide{
	display: none;
}
.MobHide {
	display: inline-flex;
}
.brdCrmbSclWrap.MobHide {
	display: flex;
}
/* .bkTyp.MobHide {
	display: inline-block;
} */

@media screen and (max-width: 1600px) {
    .curBkWrap .bkItm {
		width: 19%;
    max-width: 100%;
	}

	.curBkWrap .bkLst {
		flex-wrap: wrap;
		column-gap: 13px;
        row-gap: 30px;
	}

	.curBkImg {
		min-width: unset;
		margin-bottom: 18px;
	}

	.prgsTxt {
    font-size: 14px;
	}

	.curTtle {
    font-size: 22px;
	}

	.curBtn {
    font-size: 16px;
	}

	.curBkWrap {
    padding-top: 22px;
	}

	.bkCntRt {
    flex-shrink: 0;
    width: 420px;
	}

	.bkCntRtBox {
    border-radius: 28px;
    padding: 45px 45px 50px;
	}

	.bkBoxImg {
    border-radius: 20px;
    margin-bottom: 15px;
	}

	.bkBoxTtle {
    font-size: 24px;
	}

	.bkBoxAthr {
    font-size: 14px;
	}

	.bkBoxBtn {
    font-size: 16px;
	}

	.boxBtnRd {
    padding: 10px 40px;
	}

	.boxBtnFdIn {
		padding: 10px 15px;
	}

	.boxBtnTck img {
    max-width: 20px;
	}

	.boxBtnTxt {
    font-size: 16px;
	}

	.boxBtnArw img {
    max-width: 15px;
	}

	.bkDescWrap {
    padding-top: 28px;
	}

	.bkSubIcon img {
    max-width: 30px;
	}

	.bkSubTxt {
    font-size: 18px;
	}

	.bkSumImg {
    width: 280px;
    height: 350px;
    border-radius: 20px;
	}

	.bkImgSubWrap {
    width: 280px;
	}

	.bkSubWrap {
    padding: 14px 30px;
    margin-top: 15px;
    border-radius: 10px;
	}

	.bkSclItm {
		margin-right: 10px;
    width: 45px;
    height: 45px;
	}

	.rdBkTtle {
    margin-top: 15px;
	}

	.bkAthr {
    font-size: 14px;
	}

	.bkDtlWrap {
    padding-top: 40px;
	column-gap: 80px;
	}

	.bkDtlTtle {
    font-size: 15px;
	
	}

	.bkDtlDesc {
    font-size: 15px;
	line-height: 24px;
	}

	.bkDescDesc {
    font-size: 14px;
	}

	.bkDescTtle {
    font-size: 18px;
	}

	.acdBtntxt {
    font-size: 15px;
	}

	.bkSclIcon img {
    height: 20px;
	}

	/************ Audio Book Page CSS (1600px) ************/
	.plyBtnIcon img {
		max-width: 22px;
	}

}

@media screen and (max-width: 1450px) {
    .bkImgSubWrap {
        width: 240px;
        }
        
        .bkSumImg {
        width: 240px;
        height: 300px;
        }
    
        .bkCntRt {
        width: 360px;
        }
    
        .bkSubWrap {
        padding: 12px 25px;
        }
    
        .bkCntRtBox {
        border-radius: 28px;
        padding: 35px 30px 45px;
        }
    
        .bkSubIcon img {
        max-width: 28px;
        }
    
        .bkSubTxt {
        font-size: 16px;
        }
    
        .bkSumTxtWrap {
        margin-left: 30px;
        }
    
        .bkAthr {
        font-size: 13px;
        }
    
        .bkDtlWrap {
        padding-top: 30px;
		column-gap: 55px;
        }
    
        .bkDtlTtle {
        font-size: 14px;
        }
    
        .bkDtlDesc {
        font-size: 14px;
        }
    
        .bkBoxTtle {
        font-size: 20px;
        }
    
        .bkBoxAthr {
        font-size: 13px;
        }
    
        .bkBoxImg {
        margin-bottom: 10px;
        }
    
        .bkBoxDescWrap {
        padding-top: 22px;
        margin-bottom: 20px;
        }
    
        .bkBoxDesc {
        font-size: 14px;
        }
    
        .bkBoxBtn {
        font-size: 14px;
        }
    
        .boxBtnTxt {
        font-size: 14px;
        }
    
        .boxBtnTck img {
        max-width: 18px;
        }
    
        .boxBtnArw img {
        max-width: 13px;
        }
    
        .acdBtntxt {
        font-size: 14px;
        }
    
        .acdIcon img {
        max-width: 24px;
        }
    
        .acdArw img {
        max-width: 13px;
        }
    
        .bkDtlRow {
        margin-bottom: 15px;
        }
    
        .acdBtnWrap {
        padding: 10px 20px 10px 14px;
        border-radius: 8px;
        }
    
        .curTtle {
        font-size: 20px;
        }
    
        .curBtn {
        font-size: 14px;
        }
    
        .curBkWrap .bkItm {
        width: 18%;
        }
    
        .bkTyp {
        font-size: 13px;
        }
    
        .expBkTtle {
        margin-bottom: 2px;
        font-size: 16px;
        }
    
        .rdPrgsWrap {
        padding-top: 15px;
        }
    
        .prgsTxt {
        font-size: 13px;
        }
    
    }

	/* -----updated css------------- */
	@media screen and (max-width:1550px) {
		.clientUserBookList .bkLst {
			column-gap: 40px;
		}
		.clientUserBookList .bkItm {
			flex-basis: calc(20% - 30px);
			max-width: calc(20% - 35px);
		}
	}
	@media screen and (max-width:1450px) {
		
		.clientUserBookList .bkItm {
			flex-basis: calc(25% - 28px);
			max-width: calc(25% - 28px);
		}
		.clientUserBookList .expBkImg {
			min-width: 215px;
		}
		.clientUserBookList .bkLst {
			column-gap: 35px;
		}
	}
	@media screen and (max-width:1200px) {
		.clientUserBookList .bkItm {
			flex-basis: calc(33.33% - 20px);
			max-width: calc(33.33% - 20px);
		}
		.clientUserBookList .bkLst {
			column-gap: 30px;
		}
		.clientUserBookList .expBkImg {
			min-width: 210px;
		}
	}
	
	
	
	
	@media screen and (max-width:768px) {
		
	
		.clientUserBookList .bkItm {
				flex-basis: calc(50% - 12px);
				max-width: calc(50% - 15px);
		}
		.clientUserBookList .bkLst {
			column-gap: 27px;
		}
		.clientUserBookList .expBkImg {
			min-width: 183px;
		}
		.expCntRtIn {
			padding-left: 0px;
		}
		.bookLsAllBtn {
			padding: 8px 17px;
			border-radius: 12px;
		}
	}
	@media screen and (max-width:490px) {
		.bookLsAllBtn {
			padding: 5px 17px;
			border-radius: 8px;
			font-size: 16px;
		}
		.clientUserBookList .expBkImg {
			min-width: 159px;
		}
		.clientUserBookList .bkItm {
			flex-basis: calc(50% - 16px);
			max-width: calc(50% - 12px);
		}
		.clientUserBookList .bkLst {
			column-gap: 16px;
		}
		.expBkImg {
			height: 183px;
		}
		.expBkTtle {
			font-size: 17px;
		}
		.bkDesc { 
			font-size: 14px;
		}
	}

	/* ---booklist RESPONSIVE---END- */
	@media screen and (max-width: 990px) {
		.bkDtlTtle {
			margin-right: 40px;
			width: 100px;
		}
		
	}

	@media screen and (max-width: 860px) {
		.bkSumTxtWrap {
			margin-left: 0;
		}
		.bkSumWrap, .bkDtlWrap  {
			flex-direction: column;
		}
		.MobHide {
			display: none;
		}
		.desktopHide{
			display: flex;
		}
		.brdCrmbWrap {
			padding-bottom: 30px;
		}
	}

    
